/* 장바구니 테이블 스타일 */
.cart-table {
    width: 100%;
    border-collapse: collapse;
}

/* 상품 목록 박스 고정 크기 */
.scrollable-container {
    height: 420px; /* 고정된 높이 설정 */
    overflow-y: auto; /* 세로 스크롤 활성화 */
}

/* 크롬 기본 스크롤 색상 */
.scrollable-container::-webkit-scrollbar {
    width: 8px; /* 스크롤바 너비 */
}

.scrollable-container::-webkit-scrollbar-thumb {
    background-color: #c1c1c1; /* 크롬 기본 색상과 유사한 회색 */
}

.scrollable-container::-webkit-scrollbar-track {
    background-color: #f1f1f1; /* 트랙 배경색 */
}

/* 테이블 스타일 */
.cart-table th,
.cart-table td {
    padding: 15px;
    text-align: left;
}

.cart-table th {
    background-color: #f8f9fa;
}

/* 빈 장바구니 메시지 스타일 */
.empty-cart-message {
    text-align: center;
    color: #999;
}

/* 상품 이미지 스타일 */
.product-img img {
    max-width: 80px;
}

/* 장바구니 합계 및 결제 섹션 스타일 */
.cart-summary-container {
    width: 30%;
}

.primary-btn.order-submit {
    display: block;
}
